body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #FFF;
    margin: 1em 0;
    width: 15%;
    padding: 0;
}

.header {
  width: 100%;
  background-image: linear-gradient(to bottom, #ffde6f, #ffe799);
  height: 410px;
  opacity: .95;
}

.barheader {
  width: 100%;
  background-image: linear-gradient(to bottom, #FFAE97, #FFC2B0);
  height: 410px;
  opacity: .95;
}

.nav-links {
  padding: 20px;
  letter-spacing: 3px;
  font-family: 'Scope One', serif;
}

.nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 20px;
  color: #FFF;

}

/* Header Hover Effect */
.header-effect a {
  display: inline-block;
  overflow: hidden; }

.header-effect a span {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s; }

.header-effect a span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: 700;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  @supports (-moz-appearance: none) {
    .header-effect a span::before {
      font-weight: 400; } }

.header-effect a:hover span,
.header-effect a:focus span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%); }

#main-text {
  font-size: 55px;
}

#hours-text {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 16px;
  color: #000;
  margin: -3px;
  font-family: 'Scope One', serif;
}

#location-text {
  font-size: 30px;
  width: 30%;
  opacity: .8;
  margin-left: 15%;
  padding: 20px;
  font-family: 'Scope One', serif;
}
#bar-text {
  font-size: 30px;
  width: 30%;
  opacity: .8;
  margin-left: 15%;
  padding: 20px;
  font-family: 'Scope One', serif;
}

#drink-text {
  font-size: 30px;
  width: 25%;
  opacity: .8;
  margin-left: 15%;
  padding: 20px;
  font-family: 'Scope One', serif;
}

#menu-text {
  font-size: 30px;
  width: 25%;
  opacity: .8;
  margin-left: 15%;
  padding: 20px;
  font-family: 'Scope One', serif;
}

#main-text a {
  text-decoration: none;
  color: #FFF;
}
#main-logo {
  margin-left: 33%;
  width: 33%;
  display: flex;

  padding: 1%;
  opacity: .8;
}

